<div class="main-content">
  <div class="container-fluid">
    <div class="row" *ngIf="AddContainer">
      <div class="col-lg-12 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon">
              <i class="material-icons">directions_run</i>
            </div>
            <p class="card-category"></p>
            <h3 class="card-title">
              <small>Add Exercise</small>
            </h3>
          </div>
          <div class="card-footer">
            <form
              #myform="ngForm"
              (ngSubmit)="addExercise(myform)"
              class="col-md-12"
              style="font-size: large;"
            >
              <div class="row">
                <div class="col col-md-7 border-right">
                  <div class="row">
                    <div class="col-md-2">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Id" disabled />
                      </mat-form-field>
                    </div>
                    <div class="col-md-10">
                      <mat-form-field class="example-full-width">
                        <input
                          matInput
                          placeholder="Title"
                          ngModel
                          name="Title"
                        />
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-4">
                      <mat-form-field>
                        <mat-label>Level</mat-label>
                        <mat-select name="Level" ngModel>
                          <mat-option
                            *ngFor="let item of Levels"
                            [value]="item.title"
                            >{{ item.title }}</mat-option
                          >
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-md-4">
                      <mat-form-field class="example-full-width">
                        <input
                          matInput
                          placeholder="Rest"
                          type="text"
                          ngModel
                          name="Rest"
                        />
                      </mat-form-field>
                    </div>
                    <div class="col-md-4">
                      <mat-form-field class="example-full-width">
                        <input
                          matInput
                          placeholder="Sets"
                          type="text"
                          ngModel
                          name="Sets"
                        />
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <mat-form-field>
                        <mat-label>Bodypart</mat-label>
                        <mat-select name="Bodyparts" ngModel multiple>
                          <mat-option
                            *ngFor="let item of Bodyparts"
                            [value]="item.title"
                            >{{ item.title }}</mat-option
                          >
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-md-8">
                      <mat-form-field class="example-full-width">
                        <input
                          matInput
                          placeholder="Video URL"
                          type="text"
                          ngModel
                          name="VideoURL"
                        />
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <mat-form-field>
                        <mat-label>Equipment</mat-label>
                        <mat-select name="Equipments" ngModel>
                          <mat-option
                            *ngFor="let item of Equipments"
                            [value]="item.title"
                            >{{ item.title }}</mat-option
                          >
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-md-8">
                      <mat-form-field class="example-full-width">
                        <input
                          matInput
                          placeholder="Recipe"
                          type="text"
                          ngModel
                          name="Recipe"
                        />
                      </mat-form-field>
                    </div>
                  </div>
                </div>

                <div class="col col-md-5 mt-4">
                  <div class="row">
                    <div class="col-md-12">
                      <h4 style="font-weight: bold;">Instructions</h4>
                      <mat-form-field class="example-full-width">
                        <textarea
                          matInput
                          placeholder="Write here..."
                          name="Instructions"
                          ngModel
                        ></textarea>
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <h4 style="font-weight: bold;">Tips</h4>
                      <mat-form-field class="example-full-width">
                        <textarea
                          matInput
                          placeholder="Write here..."
                          name="Tips"
                          ngModel
                        ></textarea>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
              <button
                mat-raised-button
                type="button"
                class="btn btn-danger pull-right"
                (click)="CloseAddContainer()"
              >
                Close
              </button>
              <button
                mat-raised-button
                type="submit"
                class="btn btn-danger pull-right"
              >
                Add
              </button>

              <div class="clearfix"></div>
            </form>
            <!-- <div class="stats">
                      <i class="material-icons text-danger">warning</i>
                      <a href="javascript:void(0)">Get More Space...</a>
                    </div> -->
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="updateContainer">
      <div class="col-lg-12 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon">
              <i class="material-icons">directions_run</i>
            </div>
            <p class="card-category"></p>
            <h3 class="card-title">
              <small>Update Exercise</small>
            </h3>
          </div>
          <div class="card-footer">
            <form
              #myform="ngForm"
              (ngSubmit)="updateExercise(myform)"
              class="col-md-12"
              style="font-size: large;"
            >
              <div class="row">
                <div class="col col-md-7 border-right">
                  <div class="row">
                    <div class="col-md-2">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Id" disabled />
                      </mat-form-field>
                    </div>
                    <div class="col-md-10">
                      <mat-form-field class="example-full-width">
                        <input
                          matInput
                          placeholder="Title"
                          [(ngModel)]="updateitem.Title"
                          name="Title"
                        />
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-4">
                      <mat-form-field>
                        <mat-label>Level</mat-label>
                        <mat-select name="Level" [(ngModel)]="updateitem.Level">
                          <mat-option
                            *ngFor="let item of Levels"
                            [value]="item.title"
                            >{{ item.title }}</mat-option
                          >
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-md-4">
                      <mat-form-field class="example-full-width">
                        <input
                          matInput
                          placeholder="Rest"
                          type="text"
                          [(ngModel)]="updateitem.Rest"
                          name="Rest"
                        />
                      </mat-form-field>
                    </div>
                    <div class="col-md-4">
                      <mat-form-field class="example-full-width">
                        <input
                          matInput
                          placeholder="Sets"
                          type="text"
                          [(ngModel)]="updateitem.Sets"
                          name="Sets"
                        />
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <mat-form-field>
                        <mat-label>Bodypart</mat-label>
                        <mat-select
                          name="Bodyparts"
                          [(ngModel)]="updateitem.Bodyparts"
                          multiple
                        >
                          <mat-option
                            *ngFor="let item of Bodyparts"
                            [value]="item.title"
                            >{{ item.title }}</mat-option
                          >
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-md-8">
                      <mat-form-field class="example-full-width">
                        <input
                          matInput
                          placeholder="Video URL"
                          type="text"
                          [(ngModel)]="updateitem.VideoURL"
                          name="VideoURL"
                        />
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <mat-form-field>
                        <mat-label>Equipment</mat-label>
                        <mat-select
                          name="Equipments"
                          [(ngModel)]="updateitem.Equipments"
                        >
                          <mat-option
                            *ngFor="let item of Equipments"
                            [value]="item.title"
                            >{{ item.title }}</mat-option
                          >
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-md-8">
                      <mat-form-field class="example-full-width">
                        <input
                          matInput
                          placeholder="Recipe"
                          type="text"
                          [(ngModel)]="updateitem.Recipe"
                          name="Recipe"
                        />
                      </mat-form-field>
                    </div>
                  </div>
                </div>

                <div class="col col-md-5 mt-4">
                  <div class="row">
                    <div class="col-md-12">
                      <h4 style="font-weight: bold;">Instructions</h4>
                      <mat-form-field class="example-full-width">
                        <textarea
                          matInput
                          placeholder="Write here..."
                          name="Instructions"
                          [(ngModel)]="updateitem.Instructions"
                        ></textarea>
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <h4 style="font-weight: bold;">Tips</h4>
                      <mat-form-field class="example-full-width">
                        <textarea
                          matInput
                          placeholder="Write here..."
                          name="Tips"
                          [(ngModel)]="updateitem.Tips"
                        ></textarea>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
              <button
                mat-raised-button
                (click)="CloseUpdateContainer()"
                type="button"
                class="btn btn-danger pull-right"
              >
                Close
              </button>

              <button
                mat-raised-button
                type="submit"
                class="btn btn-danger pull-right"
              >
                Update
              </button>

              <div class="clearfix"></div>
            </form>
            <!-- <div class="stats">
                      <i class="material-icons text-danger">warning</i>
                      <a href="javascript:void(0)">Get More Space...</a>
                    </div> -->
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="card-header card-header-tabs card-header-danger">
            <h4 class="nav-tabs-title">
              All Exercises ({{ Exercises.length }})
            </h4>
            <!-- <p class="card-category">
              Last update :
              {{ Equipment | date: 'EEEE d MMMM y h:mm a' }}
            </p> -->

            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">
                <ul class="nav nav-tabs" data-tabs="tabs ">
                  <li class="nav-item col-md-12">
                    <button
                      mat-button
                      class="nav-link pull-right"
                      (click)="OpenAddContainer()"
                      data-toggle="tab"
                    >
                      <i class="material-icons">add</i> Add New
                      <div class="ripple-container"></div>
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="tab-content table-responsive">
              <div class="tab-pane active" id="profile">
                <table class="table">
                  <thead>
                    <th>
                      sr#
                    </th>
                    <th>
                      Title
                    </th>
                    <th>
                      Bodyparts
                    </th>
                    <th>Level</th>
                    <th>Equip..</th>
                    <th>Reps</th>
                    <th>Rest</th>
                    <th>Sets</th>
                    <th>VideoLink</th>
                    <th>Atcion</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of Exercises; index as i">
                      <td>
                        {{ i + 1 }}
                      </td>
                      <td>
                        {{ item.Title }}
                      </td>
                      <td>
                        {{ item.Bodyparts }}
                      </td>
                      <td>
                        {{ item.Level }}
                      </td>
                      <td>
                        {{ item.Equipments }}
                      </td>
                      <td>
                        {{ item.Recipe }}
                      </td>
                      <td>
                        {{ item.Rest }}
                      </td>
                      <td>
                        {{ item.Sets }}
                      </td>

                      <td>
                        {{ item.VideoURL }}
                      </td>
                      <td class="td-actions text-right">
                        <button
                          mat-raised-button
                          type="button"
                          matTooltip="Edit Task"
                          (click)="UpdateSlecetedItem(item)"
                          [matTooltipPosition]="'above'"
                          class="btn btn-dark btn-link btn-lr btn-just-icon"
                        >
                          <i class="material-icons">edit</i>
                        </button>
                        <button
                          mat-raised-button
                          (click)="RemoveExercise(item)"
                          type="button"
                          matTooltip="Remove"
                          [matTooltipPosition]="'above'"
                          class="btn btn-danger btn-link btn-lr btn-just-icon"
                        >
                          <i class="material-icons">close</i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
